@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-heebo: "Heebo", sans-serif;
}

@layer base {
  html {
    direction: rtl;
    font-family: var(--font-heebo);
  }
}
